.list-view .list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view .list-cell:filled:selected:focused {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:focused {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.list-view {
    --block-text-color: #FFFFFF;
}
